.label {
    width: 100%;
    padding-top: 70px;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-align: center;

    color: #938BD5;
}

.description {
    width: 100%;
    margin-top: 70px;
    font-weight: bold;
    font-size: 36px;
    text-align: center;

    color: #1A1636;
}

.card {
    background: #F9F9FF;
    box-shadow: 0px 24.3973px 42.6953px rgba(232, 229, 255, 0.6);
    border-radius: 7.84199px;
    flex: 0 1 24%;
    margin-top: 40px;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

.container {
    padding: 5px 16px;
    padding-bottom: 30px;
}

.cards {
    margin: 70px;
}

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 1 calc(50% - 1em);
    }
}

@media screen and (min-width: 60em) {

    .card {
        flex: 0 1 calc(25% - 1em);
    }
}

.cardImage {
    border-radius: 7.84199px 7.84199px 0px 0px;

    width: 100%;
    filter: grayscale(100%);

    &:hover {
        filter: none;
    }
}

.cardNameLabel {
    display: flex;
    justify-content: space-between;
    @extend %align-center;
}

.heart {
    color: #E381F3;
    font-size: 30px;

    &:hover {
        color: #e75480;
    }
}

.name {
    font-size: 19.1693px;
    color: #1A1636;
    @extend %align-center;
}

.locationLabel {
    color: #9892C0;
    font-weight: normal;
    font-size: 13.9413px;
}

.tagLabel {
    border-radius: 30.4966px;
    width: fit-content;
    padding-inline: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    font-size: 13.9413px;
    text-transform: lowercase;
    @extend %align-center;
}

.tagContainer {
    display: flex;
}

.readMoreButton {
    border: 0;
    background-color: transparent;
    color: #39317C;

    &:hover {
        opacity: 0.7;
    }

    &:focus {
        outline: none;
    }
}

.readMoreLabel {
    letter-spacing: 0.01em;
    font-weight: bold;
    font-size: 15.684px;
    margin-right: 20px;
    text-decoration: none;
}

.fa-chevron-right {
    padding-left: 15px;
}

.cardSectionBackground {
    background-image: url("./images/cardSectionBackground.jpg");
    height: 100%;
    padding-bottom: 20px;
    background-repeat: no-repeat;
}