%align-center {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-inline: 70px;
    padding-top: 10px;
    z-index: 10;
    @extend %align-center;

    &__logo {
        animation: rotation 2s infinite linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

.left {
    width: 30%;
    float: left;
    display: flex;
    justify-content: space-between;
}

.right {
    width: 30%;
    float: right;
    display: flex;
    justify-content: space-between;
}

.registerBorder {
    border: 2px solid #FC6868;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 10px;
}

.login {
    @extend %align-center;
}

.menu-items {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    font-weight: 700;

    &:hover {
        text-decoration: underline;
        font-weight: bold;
    }
}

.dropdown {
    display: none;
}

.dropBtn {
    border: 0;
    background: transparent;
    font-size: 40px;
    color: #e75480;
}

@media (max-width: 800px) {
    .dropdown {
        display: flex;
        justify-content: space-between;
        padding-inline: 70px;
    }

    .dropDownMenu {
        display: none;
    }

    .navbar {
        display: none;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}