.mouseButton {
    @extend %align-center;
    background-color: transparent;
    border: 0;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.8;
    }
}

.facebookIcon {
    color: #B6B0E3;
    border: 0;
    font-size: 12px;
    text-decoration: none;
    @extend %align-center;
}

.circleButton {
    height: 35px;
    width: 35px;
    background-color: #B6B0E3;
    border-radius: 50%;
    @extend %align-center;
    font-size: 7px;
    text-decoration: none;
    justify-content: space-around;
    color: #39317C;
}

.socialMediaButtons {
    margin-right: 70px;
    margin-top: 150px;
    display: flex;
    height: 200px;
    justify-content: space-between;
    flex-direction: column;
}

.mouse-icon {
    background-image: url('./images/mouseVector1.png');
    background-repeat: no-repeat;
    background-position: center 10px;
}