@media (max-width:600px) {
    .searchBar {
        width: 100%;
        height: 80px;
        margin-left: 0px;
    }

    .textField {
        width: 50%;
    }

    .searchButton {
        width: 22%;
    }
}

.searchBar {
    width: 70%;
    height: 80px;
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 70px;

    background: #F6F5FF;
    border-radius: 0px 22px 22px 22px;
}

.topPlaceholder {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 60px;

    color: #938BD5;
}

.bottomPlaceholder {
    margin-top: 10px;
    padding-left: 30px;
}

.textField {
    width: 60%;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.01em;
    border: 0;
    background-color: #F6F5FF;

    color: #292357;

    &:focus {
        outline: none;
    }
}

::placeholder {
    color: #292357;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.01em;
}

#iconPlaceholder {
    width: 24px;
    height: 24px;
    font-size: 20px;

    color: #938BD5;
}

.search {
    width: 100%;
    display: inline-flex;
}

.categoryButton {
    width: 25%;
    height: 80px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #D9D6F1;
    border-radius: 9px 0px 0px 9px;
    border: 0;

    &:hover {
        opacity: 0.8;
    }

    &:focus {
        outline: none;
    }
}

.topLabel {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #938BD5;
}

.bottomLabel {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.categoryLabel {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.01em;
    color: #292357;
}

#iconDown {
    font-size: 15px;
    color: #292357;
}

.searchButton {
    font-weight: normal;
    font-size: 20px;
    color: white;
    width: 15%;
    height: 80px;
    background: #FC6868;
    border-radius: 0px 22px 22px 0px;
    border: 0;

    &:hover {
        opacity: 0.8;
    }

    &:focus {
        outline: none;
    }
}

.searchSection {
    display: flex;
    justify-content: space-between;
    @extend %align-center;
    margin-right: 70px;
    margin-top: 8%;
}

#shortLabel {
    display: none;
}

@media (max-width: 800px) {
    #shortLabel {
        display: inline-block;
    }

    .longLabel {
        display: none;
    }

    .bottomLabel {
        justify-content: space-around;
        padding-bottom: 30px;
    }
}