@import "navBar";
@import "searchBar";
@import "rightSideButtons";
@import "cardSection";

#coverImage {
    background-image: linear-gradient(0deg, #5145B5 0%, #292357 0.01%, rgba(81, 69, 181, 0.16) 79.02%),
        url('./images/background-image.jpg');
    width: 100%;
    height: auto;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    font-style: normal;
    font-family: "Roboto", sans-serif;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 64px;
    margin-top: 200px;
    margin-left: 70px;
    width: 80%;
}

.subtitle {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0.01em;
    margin-top: 30px;
    margin-left: 70px;
    color: white;
}

.main {
    display: flex;
    justify-content: space-between;
}

.titleSection {
    display: flex;
    justify-content: space-between;
}