.navbar, .login, .searchSection, .mouseButton, .facebookIcon, .circleButton, .cardNameLabel, .name, .tagLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 70px;
  padding-top: 10px;
  z-index: 10;
}

.navbar__logo {
  -webkit-animation: rotation 2s infinite linear;
          animation: rotation 2s infinite linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.left {
  width: 30%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right {
  width: 30%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registerBorder {
  border: 2px solid #FC6868;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  padding: 10px;
}

.menu-items {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  font-weight: 700;
}

.menu-items:hover {
  text-decoration: underline;
  font-weight: bold;
}

.dropdown {
  display: none;
}

.dropBtn {
  border: 0;
  background: transparent;
  font-size: 40px;
  color: #e75480;
}

@media (max-width: 800px) {
  .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-inline: 70px;
  }
  .dropDownMenu {
    display: none;
  }
  .navbar {
    display: none;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@media (max-width: 600px) {
  .searchBar {
    width: 100%;
    height: 80px;
    margin-left: 0px;
  }
  .textField {
    width: 50%;
  }
  .searchButton {
    width: 22%;
  }
}

.searchBar {
  width: 70%;
  height: 80px;
  margin-left: 70px;
  margin-top: 50px;
  margin-bottom: 70px;
  background: #F6F5FF;
  border-radius: 0px 22px 22px 22px;
}

.topPlaceholder {
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-top: 10px;
  padding-left: 60px;
  color: #938BD5;
}

.bottomPlaceholder {
  margin-top: 10px;
  padding-left: 30px;
}

.textField {
  width: 60%;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.01em;
  border: 0;
  background-color: #F6F5FF;
  color: #292357;
}

.textField:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #292357;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.01em;
}

:-ms-input-placeholder {
  color: #292357;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.01em;
}

::-ms-input-placeholder {
  color: #292357;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.01em;
}

::placeholder {
  color: #292357;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.01em;
}

#iconPlaceholder {
  width: 24px;
  height: 24px;
  font-size: 20px;
  color: #938BD5;
}

.search {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.categoryButton {
  width: 25%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  background: #D9D6F1;
  border-radius: 9px 0px 0px 9px;
  border: 0;
}

.categoryButton:hover {
  opacity: 0.8;
}

.categoryButton:focus {
  outline: none;
}

.topLabel {
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #938BD5;
}

.bottomLabel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categoryLabel {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.01em;
  color: #292357;
}

#iconDown {
  font-size: 15px;
  color: #292357;
}

.searchButton {
  font-weight: normal;
  font-size: 20px;
  color: white;
  width: 15%;
  height: 80px;
  background: #FC6868;
  border-radius: 0px 22px 22px 0px;
  border: 0;
}

.searchButton:hover {
  opacity: 0.8;
}

.searchButton:focus {
  outline: none;
}

.searchSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 70px;
  margin-top: 8%;
}

#shortLabel {
  display: none;
}

@media (max-width: 800px) {
  #shortLabel {
    display: inline-block;
  }
  .longLabel {
    display: none;
  }
  .bottomLabel {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 30px;
  }
}

.mouseButton {
  background-color: transparent;
  border: 0;
}

.mouseButton:focus {
  outline: none;
}

.mouseButton:hover {
  opacity: 0.8;
}

.facebookIcon {
  color: #B6B0E3;
  border: 0;
  font-size: 12px;
  text-decoration: none;
}

.circleButton {
  height: 35px;
  width: 35px;
  background-color: #B6B0E3;
  border-radius: 50%;
  font-size: 7px;
  text-decoration: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #39317C;
}

.socialMediaButtons {
  margin-right: 70px;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mouse-icon {
  background-image: url("./images/mouseVector1.png");
  background-repeat: no-repeat;
  background-position: center 10px;
}

.label {
  width: 100%;
  padding-top: 70px;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  color: #938BD5;
}

.description {
  width: 100%;
  margin-top: 70px;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #1A1636;
}

.card {
  background: #F9F9FF;
  -webkit-box-shadow: 0px 24.3973px 42.6953px rgba(232, 229, 255, 0.6);
          box-shadow: 0px 24.3973px 42.6953px rgba(232, 229, 255, 0.6);
  border-radius: 7.84199px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
  margin-top: 40px;
}

.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 5px 16px;
  padding-bottom: 30px;
}

.cards {
  margin: 70px;
}

@media screen and (min-width: 40em) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1em);
            flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(25% - 1em);
            flex: 0 1 calc(25% - 1em);
  }
}

.cardImage {
  border-radius: 7.84199px 7.84199px 0px 0px;
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.cardImage:hover {
  -webkit-filter: none;
          filter: none;
}

.cardNameLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heart {
  color: #E381F3;
  font-size: 30px;
}

.heart:hover {
  color: #e75480;
}

.name {
  font-size: 19.1693px;
  color: #1A1636;
}

.locationLabel {
  color: #9892C0;
  font-weight: normal;
  font-size: 13.9413px;
}

.tagLabel {
  border-radius: 30.4966px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-inline: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
  font-size: 13.9413px;
  text-transform: lowercase;
}

.tagContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.readMoreButton {
  border: 0;
  background-color: transparent;
  color: #39317C;
}

.readMoreButton:hover {
  opacity: 0.7;
}

.readMoreButton:focus {
  outline: none;
}

.readMoreLabel {
  letter-spacing: 0.01em;
  font-weight: bold;
  font-size: 15.684px;
  margin-right: 20px;
  text-decoration: none;
}

.fa-chevron-right {
  padding-left: 15px;
}

.cardSectionBackground {
  background-image: url("./images/cardSectionBackground.jpg");
  height: 100%;
  padding-bottom: 20px;
  background-repeat: no-repeat;
}

#coverImage {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5145B5), color-stop(0.01%, #292357), color-stop(79.02%, rgba(81, 69, 181, 0.16))), url("./images/background-image.jpg");
  background-image: linear-gradient(0deg, #5145B5 0%, #292357 0.01%, rgba(81, 69, 181, 0.16) 79.02%), url("./images/background-image.jpg");
  width: 100%;
  height: auto;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 64px;
  margin-top: 200px;
  margin-left: 70px;
  width: 80%;
}

.subtitle {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.01em;
  margin-top: 30px;
  margin-left: 70px;
  color: white;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titleSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */